<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ object.name }}</title>
</head>
<body>
    <p>Manufacturer: {{ object.name }}</p>
    <p>Location: {{ object.location }}</p>
    <p>Description: {{ object.active }}</p>
</body>
</html>