<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ object.name }}</title>
</head>
<body>
    <p>Product: {{ object.name }}</p>
    <p>Manufacturer: {{ object.manufacturer }}</p>
    <p>Quantity: {{ object.quantity }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Price: {{ object.price }}</p>
    <p>Shipping Cost: {{ object.shipping_cost }}</p>

    <img src="{{ object.photo.url }}" alt="product photo">
</body>
</html>